#pager-wrapper {
	width:800px;
}
#pager-wrapper ul {
	list-style-type: none;
	margin:0;
}
#pager-wrapper li {
	display:inline-block;
	margin:1em;
	width:200px;
	overflow:hidden;
}
#pager-wrapper li img {
	width:100%;
}
#pager-wrapper li p {
	text-align: center;
}